#what .items{
    display: block;
    padding: 1rem;
}

@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    #navbar ul{
        padding: 0.5rem;
    }

    #showcase .showcase-content{
        top: 110px;
        /* margin:  -2rem; */
    }
    #founders {
        display: block;
    }

    #founders .founders-img{
        display: none;
    }
    #branch .items p{
        font-size: 1.2rem;
    }

    #contact{
        flex-direction: column;
    }
    #contact .map{
        height: 200px;
        border-top: 4px solid #333;
    }
    #navbar ul li:last-child{
        display: none;
    }
}

@media(max-height: 568px){
    .showcase-content{
        margin-top: 2rem;
    }
    .l-heading{
        font-size: 3rem;
    }
    .lead{
        font-size: 1rem;
    }
}